@{
    ViewBag.Title = "Contact";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p>If you have any questions, feedback, or want to contribute, please reach out to us on GitHub:</p>
    <p>
        <strong>Project GitHub:</strong>
        <a href="https://github.com/entr0py42/Optimisation-and-Scheduling-System" target="_blank" rel="noopener noreferrer">
            https://github.com/entr0py42/Optimisation-and-Scheduling-System
        </a>
    </p>


</main>
