@{
    ViewBag.Title = "Driver Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Driver Dashboard</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome, @User.Identity.Name!</h3>
                </div>
                <div class="panel-body">
                    <p>This is the driver dashboard where you can view your schedule and manage your availability.</p>
                </div>
            </div>
        </div>
    </div>
</div> 