@{
    ViewBag.Title = "Manager Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Manager Dashboard</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome, @User.Identity.Name!</h3>
                </div>
                <div class="panel-body">
                    <p>This is the manager dashboard where you can manage drivers and schedules.</p>

                    <div class="mt-4">
                        <a href="@Url.Action("GetAllDrivers", "Manager")" class="btn btn-primary">
                            <i class="fa fa-users"></i> View All Drivers
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
